body {
    background-image: url("images/pexels-ron-rov-16829089.jpg");
    background-size: cover;
}

h1 {
    width: 100vw;
    height: 5vh;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    font: black;
    font-size: 100px;
}

.heroContainer {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  width: 99vw;
  height: 99vh;
}

#cluesAndWords {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 50vw;
  height: 89vh;
}

#clues {
  display: flex;
  border: 1px solid white;
  width: 99%;
  height: 30vh;
}

#alphabetBox {
  border: 1px solid white;
  width: 99%;
  height: 30vh;
  font-size: 50px;
  font-family: 'MedievalSharp', cursive;
}

#wordStatus {
  border: 1px solid white;
  width: 99%;
  height: 30vh;
}

#animations {
  border: 1px solid white;
  width: 49%;
  height: 99vh
}



#alphabet {
  @include clear;
  margin:15px auto;
  padding:0;
  max-width:900px;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background: brown;
  color: wheat;
  cursor: pointer;
  @include corners(5px);
  border: solid 1px white;
}

button{
  @include corners (5px);
  background: brown;
  color: wheat;
  border: solid 1px wheat;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}

