body {
    background-image: url("images/pexels-ron-rov-16829089.jpg");
    background-size: cover;
}

h1 {
    width: 100vw;
    height: 5vh;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    color:rgb(46, 12, 12);
    font-size: 100px;
    text-shadow: 5px 5px 8px #838583;
    
}

.heroContainer {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  width: 99vw;
  height: 99vh;
}

#cluesAndWords {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 50vw;
  height: 89vh;
}

#clues {
  display: flex;
  border: 1px solid white;
  width: 99%;
  height: 30vh;
  font-size: 45px;
  font-family: 'MedievalSharp', cursive;
  color:rgb(46, 12, 12)
}

.alphabetBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-shadow: 5px 5px 8px #838583;
  border: 1px solid white;
  width: 99%;
  height: 30vh;
  font-size: 150px;
  font-family: 'MedievalSharp', cursive;
  color:rgb(46, 12, 12)
}

#wordStatus {
  border: 1px solid white;
  width: 99%;
  height: 30vh;  font-size: 45px;
  size: 95px;
  font-family: 'MedievalSharp', cursive;
  color:rgb(46, 12, 12)

}



#animations {
  border: 1px solid white;
  width: 49%;
  height: 99vh
}
