body {
    background-image: url("images/pexels-ron-rov-16829089.jpg");
    background-size: cover;
}

h1 {
    width: 100vw;
    height: 5vh;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    color:rgb(46, 12, 12);
    font-size: 130px;
    text-shadow: 5px 5px 8px #838583;
    margin-bottom: 100px;
    
}

.heroContainer {
  display: flex;
  flex-direction: row;
  /* border: 1px solid gray; */
  width: 99vw;
  height: 99vh;
}

#cluesAndWords {
  display: flex;
  flex-direction: column;
  /* border: 1px solid gray; */
  width: 50vw;
  height: 89vh;
}

#clues {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid white; */
  width: 99%;
  height: 30vh;
  font-size: 80px;
  font-family: 'MedievalSharp', cursive;
  color:rgb(246, 219, 13);
  text-shadow: 5px 5px 8px #838583;
}

.alphabetBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-shadow: 5px 5px 8px #838583;
  /* border: 1px solid white; */
  width: 99%;
  height: 30vh;
  font-size: 100px;
  font-family: 'MedievalSharp', cursive;
  color:rgb(246, 219, 13)
}

#wordStatus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  width: 99%;
  height: 20vh;  font-size: 100px;
  size: 95px;
  font-family: 'MedievalSharp', cursive;
  color:rgb(246, 219, 13);
  text-shadow: 5px 5px 8px #838583;

}

[id^="blankDiv-"] {
  border: solid 1px white;
  color:rgb(246, 219, 13);
  justify-content: center;
  height: 110px;
  width: 100px;
  margin: 0 10 0 10;
  /* visibility: hidden; */
}

#animations {
  /* border: 1px solid white; */
  width: 49%;
  height: 84vh
  
}

#textBox {
  /* border: 1px solid white; */
  width: 99%;
  height: 15vh
}